
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pessoas</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/myApp.js"></script>
    
</head>
<body style="background-color: #ddd">
    <div class="col-md-12" ng-app="myApp" ng-controller="pessoaCtrl"> 
        <h1 style="text-align:center; padding:10px 0;">Create, Read, Update e Delete:</h1>

        <form class="form-inline" style="margin-top:10px; margin-bottom:10px">
            <input type="hidden"   ng-model="pessoa.PessoaId"/>
            <label>Nome:</label>
            <input class="form-control" placeholder="Nome" ng-model="pessoa.Nome" />
            <label>Email:</label>
            <input class="form-control" placeholder="Email" name="pessoa.Email" ng-model="pessoa.Email"/>
            <label>Endereço:</label>
            <input class="form-control" placeholder="Endereço" name="pessoa.Endereco" ng-model="pessoa.Endereco"/>
            <label>Idade:</label>
            <input class="form-control" type="number" placeholder="Idade" name="pessoa.Idade" ng-model="pessoa.Idade"/>
            <input  type="button" class="btn btn-primary" value="Cadastrar" name="btnSalavar" ng-disabled="!pessoa.Nome || !pessoa.Email || !pessoa.Endereco || !pessoa.Idade || desbilitaBtnsalvar" ng-click="salvar(pessoa)"/>
            <input  type="button" class="btn btn-warning" value="Atualizar" name="btnAtualizar" ng-disabled="desabilitaBtnatualizar" ng-click="atualizar(pessoa)"/>
        </form>

        <table class="table table-striped" >
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Idade</th>
                <th>Opção</th>

            </tr>
            <tr ng-repeat="pes in Pessoas.data">
                <td>{{pes.PessoaId}}</td>
                <td>{{pes.Nome}}</td>
                <td>{{pes.Email}}</td>
                <td>{{pes.Endereco}}</td>
                <td>{{pes.Idade}}</td>
                <td><a class="btn-sm btn-warning" style="margin-right: 10px;" href="#" ng-click="editarPessoa(pes.PessoaId)">Editar</a><a href="#" class="btn-sm btn-danger" ng-click="deletarPessoa(pes.PessoaId)">Deletar</a></td>
            </tr>
        </table>
        
    </div>
</body>
</html>
